.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
.search > input {
  padding: 1vmax;
  min-width: 30vmax;
  border-radius: 3px;
}
.search > button {
  padding: 1vmax;
  margin-left: 0.2rem;
  background-color: orange;
  border-color: white;
  border-radius: 3px;
}
