.productDetails {
  display: flex;
  padding: 2vmax;
  overflow: hidden;
}
.carouselContainer {
  width: 28vmax;
}
.details {
  /* background-color: red; */
  flex: 1;
  padding-left: 1vmax;
  padding: 1vmax;
}
.details > h2 {
  padding-bottom: 1vmax;
}

.ratings,
.price,
.category {
  display: flex;
  align-items: center;
  margin-top: 3px;
  margin-bottom: 3px;
  justify-content: left;
}

.price {
  color: orangered;
}
@media screen and (max-width: 450px) {
  .productDetails {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .carouselContainer {
    width: 95vw;
  }
  .details {
    width: 100%;
    /* margin-top: 2vmax; */
  }
}
