.loading {
  width: 100vw;
  height: 100vh;

  background-color: white;
  display: grid;
  place-items: center;
  /* max-width: 100%; */
}
.loading > div {
  border-radius: 100%;
  animation-name: example;
  animation-delay: 0s;
  animation-duration: 2s;

  width: 10vmax;
  height: 10vmax;
  border-bottom: 0.5vmax solid rgb(154, 150, 150);
  background-color: white;
  animation: example 1800ms linear infinite;
}

@keyframes example {
  to {
    rotate: 360deg;
  }
}
